<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style3.css') }}">

</head>
<body>

    <div class="exit-container">
        <div class="exit-box">
            
             <img src="{{ url_for('static', filename='Img/logo.png') }}" alt="AgriSat Logo">
            
            <p>We hope that the experience of crop discovery has impressed you and you can send your requests</p>
            <button class="btn" onclick="logout()">Go out</button>
        </div>
    </div>
   

    <script>
        function logout() {
            if (confirm("Are you sure you want to log out?")) {
                window.location.href = 'logout.html';
            }
        }
    </script>
</body>
</html>
